a{color:#000080;text-decoration:none;}
a:hover{color:#ff3333;text-decoration:underline}
body{
	margin-left:0px;
	margin-top:0px;
	text-align:center;
}
body,div,td,input,span{
	font-family: "ו","Times New Roman", Times, serif;
	font-size:12px;
}
textarea,div,img,span{
	border:0px;
}
select{
	border:1px #000000 solid;
	font-family:"ו","Times New Roman", Times, serif;
	font-size:12px;
}
div{
	margin-right: auto;
	margin-left: auto;
}
#bodyposition{
	width:760px; 
	height:auto;
	position: relative; 
	z-index:0; 
	top:25px; 
	left:0px;
}
#content{
	width:760px;
	height:auto;
	z-index:1;
	left:0px;
	top:0px;
	border:1px #000099 solid;
	background-color:#FFFFFF;
}
#title {
	width:760px;
	height:22px;
	z-index:1;
	left:0px;
	top:0px;
	font-family:"¥י";
	font-size:16px;
	font-weight:bold;
	background-color:#E6E6E6;
	color:#660000;
}
#titler {
	position:absolute;
	width:118px;
	height:16px;
	z-index:3;
	left:639px;
	top:6px;
	text-align:right;
}
#main,#msg {
	width:760px;
	height:auto;
	left:0px;
	top:0px;
	clear:both;
	float:inherit;
}
#footer {
	width:760px;
	height:auto;
	left:0px;
	top:0px;
	clear:both;
	float:inherit;
	background-color:#E6E6E6;
	border-top:1px #000099 solid;
}
.tdborder{
	border-top:1px #999999 solid;
}
.button{
	width:63px;
	height:20px;
	border:none;
	color:#333333;
	background:#F6F6F6 url(button.gif) 0 0 no-repeat;
	cursor:hand;
	vertical-align:middle;
}

.txtinput{
	font-size:12px;
	width:150px;
	border:1px #000080 solid;
}
textarea{
	font-size:12px;
	border:1px #000080 solid;
}