a{color:#000080;text-decoration:none;}
a:hover{color:#ff3333;text-decoration:underline}

body{
	margin-left:0px;
	margin-top:10px;
	text-align:center;
}
body,div,td,input,span{
	font-family: "ÀŒÃÂ","Times New Roman", Times, serif;
	font-size:12px;
}
textarea,div,img,span{
	border:0px;
}
div{
	margin-right: auto;
	margin-left: auto;
}
#bodyposition{
	width:483px; 
	height:auto;
	position: relative; 
	z-index:0; 
	top:0px; 
	left:0px;
}
#uploadadmain{
	position:absolute;
	left:0px; 
	top:0px;
	width:483px;
}
#uploadr1c1{
	left:0px; top:0px;width:483px; height:4px;
	background-image:url(upload/upload_r1_c1.gif);
}
#content{
	left:0px; top:4px;width:481px;
	border-left:1px #000000 solid;
	border-right:1px #000000 solid;
	float:inherit;
	background-color:#FFFFFF;
}
#uploadr2c2{
	left:3px; top:1px;width:476px; height:330px;
	float:left;
}
#uploadr3c2{
	left:0px; top:331px;width:483px; height:5px;
	background-image:url(upload/upload_r3_c1.gif);
	clear:both;
}
#title{
	left:0px; top:0px;width:481px; height:25px;
	font-family:"¡• È";
	font-size:16px;
	font-weight:bold;
	border-bottom:1px #000000 solid;
}
#control{
	left:0px; top:0px;width:481px;
	text-align:left;
	border-bottom:1px #000000 solid;
	background-color:#EBEBEB;
}
.tx{
	border:0px;
	background-color:#EBEBEB;
	border-bottom:1px #000099 solid;
	color:#0000FF;
}
.tx1{
	border:1px #000099 solid;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	width:377px;
	color:#0000FF;
}
.button{
	width:63px;
	height:20px;
	border:none;
	color:#333333;
	background:#F6F6F6 url(button.gif) 0 0 no-repeat;
	cursor:hand;
	vertical-align:middle;
}
#upinput{
	left:0px; top:0px;width:481px;
	text-align:left;
	border-bottom:1px #000000 solid;
}
#upid{
	left:0px; top:0px;
	width:460px;
}
.contie{
	left:0px; top:0px;
	width:460px;
}
.contns{
	margin-left:25px;
	left:0px; top:0px;
	width:460px;
}
#setinput{
	border:0px;
	background-color:#EBEBEB;
}
#submit{
	left:0px; top:0px;width:481px;
}
#footer{
	left:0px; top:0px;width:483px; height:50px;
	clear:both;
}
